In [6]:
import os 
import pandas as  pd

In [13]:
os.chdir("/Users/burke/Documents/research/bpCog/nhanes/sourceData/nhanesRawData/2009-2010")

In [14]:
mort = pd.read_sas("2009Mortality.xpt")

In [15]:
mort.head()

,PUBLICID,SEQN,ELIGSTAT,MORTSTAT,CAUSEAVL,UCOD_LEA,DIABETES,HYPERTEN,DODQTR,DODYEAR,WGT_NEW,SA_WGT_N,PERMTH_I,PERMTH_E,MORTSRCE,MORTSRC2,MORTSRC3,MORTSRC4,MORTSRC5
0,b'51624',51624.0,1.0,5.397605e-79,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,35.0,34.0,NaN,NaN,NaN,NaN,NaN
1,b'51625',51625.0,2.0,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'51626',51626.0,2.0,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'51627',51627.0,2.0,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'51628',51628.0,1.0,5.397605e-79,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,15.0,14.0,NaN,NaN,NaN,NaN,NaN

In [21]:
mort.DODYEAR.value_counts()

Series([], Name: DODYEAR, dtype: int64)

In [17]:
mort.UCOD_LEA.value_counts()

b''       10403
b'002'       40
b'010'       36
b'001'       29
b'003'        8
b'004'        6
b'005'        5
b'008'        5
b'007'        5
Name: UCOD_LEA, dtype: int64